<md-input-container
    ng-class="['form-group', 'schema-form-select', form.htmlClass, {'has-error': hasError(), 'has-success': hasSuccess(), 'has-feedback': form.feedback !== false}]"
    sf-messages sf-layout>
  <label ng-show="::showTitle()">{{::form.title}}</label>
  <md-select sf-field-model sf-changed="form" schema-validate="form" ng-disabled="form.readonly">
    <md-optgroup ng-repeat-start="(key, opt) in form.titleMap | orderBy:'group' as optGroups"
                 ng-if="opt.group && opt.group != optGroups[key-1].group"
                 label="{{::opt.group}}"
                 aria-label="{{::opt.group}}">
      <md-option ng-repeat="(key, filtered) in form.titleMap | filter: {group: opt.group} | orderBy:'name' as opts"
                 ng-value="::filtered.value"
                 aria-label="{{::filtered.name}}">{{::filtered.name}}</md-option>
    </md-optgroup>
    <md-option   ng-if="!opt.group"
                 ng-value="::opt.value"
                 ng-repeat-end>{{::opt.name}}</md-option>
  </md-select>
</md-input-container>